@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  background-color: DodgerBlue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
  padding: 20px 90px;
}

.header h2 {
  margin: 0;
  color: white;
}

.selector-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}